<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.caizenghui.fragment">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".FragmentCommitActivity" />
        <activity android:name=".FragmentMainActivity" />
        <activity android:name=".AddToBackStackActivity"></activity>
    </application>

</manifest>